body {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	background: #eee;
}

.main-header {
	text-align: center;
}

.main-header .logo {
	background: rgba(0, 0, 0, .8);
	padding: 10px 0;
}

.main-header img {
	width: 200px;
}

.main-header ul {
	margin: 0;
	padding: 5px 0;
	text-align: left;
	font-weight: 300;
	text-align: center;
}

.main-header li {
	padding: 5px 10px;
	display: inline-block;
}

.main-header li {
	vertical-align: middle;
}

.main-header li svg {
	vertical-align: -6px;
	margin-right: 5px;
}

.main-header li svg g {
	fill: #444 !important;
}

/* SLOGAN */

.slogan {
	padding: 20px;
	margin: 20px;
	background: #fff;
	color: #222;
}

.slogan h1 {
	margin: 10px 0 0;
	font-size: 30px;
	text-align: center;
	font-weight: 300;
	line-height: 1;
}

.slogan h1 .marked {
	color: #F38371;
	font-weight: 800;
}

.slogan .description p {
	margin: 12px 0;
	text-align: center;
	font-weight: 300;
}

.slogan .description .marked {
	color: #F38371;
	font-weight: 600;
}


/* AREAS */

.areas {
	padding: 20px;
	margin: 20px;
	background: #fff;
	color: #222;
}

.areas h2 {
	margin: 10px 0 0;
	font-size: 30px;
	text-align: center;
	font-weight: 300;
	line-height: 1;
}

.areas h2 .marked {
	color: #F38371;
	font-weight: 800;
}

.areas ul {
	padding: 0;
	margin: 0;
}

.areas li {
	display: block;
}

.areas h3 {
	font-size: 18px;
	margin: 25px 0 5px;
	font-weight: 600;
	color: #F38371;
}

.areas p {
	margin: 0;
	font-weight: 300;
}


/* PROJECTS */

.projects {
	padding: 20px;
	margin: 20px;
	background: #fff;
	color: #222;
	font-weight: 300;
}

.projects .marked {
	color: #F38371;
	font-weight: 600;
}

.projects-list {
	margin: 0;
	padding: 10px 20px;
}

.projects-list li {
	display: block;
}

.projects-list li img {
	width: 100%;
}

.testimonials {
	padding: 20px;
	margin: 20px;
	background: #fff;
	color: #222;
	font-weight: 300;
}

.testimonials img {
	width: 100%;
}