/*html {
	background: url(../pixel-perfect.png) 50% 0 no-repeat;
}

body {
	font-family: Arial, sans-serif;
	opacity: .5;
}*/

body {
	font-family: 'Neo Sans Std';
	/*300 Light
	400 Regular
	600 Medium
	700 Bold
	800 Ultra*/
	/*#f14328;
	FF8977
	FF472A
	7F453B
	CC3922*/
}

figure {
	margin: 0;
}

/*------------------------------------*\
	#COMMON
\*------------------------------------*/

.wrapper {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}

.lead-phrase p {
	font-size: 22px;
	width: 840px;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0;
	line-height: 1.8;
	color: #555;
}

.lead-phrase p .marked {
	font-style: italic;
	font-weight: 700;
	color: #f14328;
}

/*------------------------------------*\
	#HEADER
\*------------------------------------*/

.main-header {
	position: fixed;
	height: 66px;
	left: 0;
	top: 0;
	right: 0;
	overflow: hidden;
	z-index: 4;
	background: rgba(255, 255, 255, .4);
}

.main-header .logo {
	position: absolute;
	top: 10px;
	left: 21px;
}

.main-header .logo img {
	width: 204px;
}

/*------------------------------------*\
	#Menu
\*------------------------------------*/

.main-header .main-menu {
	position: absolute;
	right: 44px;
	top: 6px;
	font-size: 16px;
}

.main-header .main-menu li {
	float: left;
	margin: 0 19px;
	display: block;
	height: 20px;
	padding-bottom: 3px;
	font-weight: 400;
	position: relative;
}

.main-header .main-menu li:after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 3px solid #f14328;
	position: absolute;
	bottom: 3px;
	opacity: 0;
	/*-webkit-transition: -webkit-opacity 0.4s,
	                    -webkit-bottom 0.4s;
	-moz-transition: -moz-opacity 0.4s,
	                 -moz-bottom 0.4s;*/
	transition: opacity 0.2s ease-out,
	            bottom 0.2s ease-out;
	/*bottom 0.4s*/
}

.main-header .main-menu li:not(.active):hover:after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 3px solid #f14328;
	position: absolute;
	bottom: -3px;
	opacity: 1;
}

.main-header .main-menu li.active {
	border-bottom: 3px solid #f14328;
	font-weight: 600;
}

.main-header .main-menu li a {
	text-decoration: none;
	color: #555;
}


/*------------------------------------*\
	#CONTENT
\*------------------------------------*/


/*------------------------------------*\
	#Slogan
\*------------------------------------*/

.slogan {
	margin-top: 66px;
	/*background: url(../img/front-background.jpg);*/
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.slogan h1 {
	margin: 140px 0;
	padding: 63px 0;
	font-size: 57px;
	text-align: center;
	font-weight: 700;
	line-height: 1;
	color: #444;
	position: relative;
	z-index: 3;
	background: rgba(255, 255, 255, .4);
}

.slogan .title-block .video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.slogan .title-block .video-wrapper:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .13);
	z-index: 2;
}

.slogan .title-block video {
	-webkit-filter:blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter:blur(10px);
}

.slogan h1 .marked {
	color: #f14328;
	transform: translate(-50%, -50%);
}

.slogan video {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*------------------------------------*\
	#Areas
\*------------------------------------*/

.areas {
	overflow: hidden;
	text-align: center;
	background-size: cover;
	position: relative;
	padding-bottom: 70px;
}

.areas {
	background: url(../img/areas-background.jpg);
}

.areas:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(32, 32, 32, .9);
}

.areas h2 {
	text-align: center;
	color: #fff;
	/*background: #f14328;*/
	display: inline-block;
	margin: 100px 0 0;
	font-size: 28px;
	font-weight: 500;
	padding: 12px 39px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	color: #f14328;
}

.areas ul {
	padding: 0;
	position: relative;
	z-index: 1;
}

.areas li {
	display: inline-block;
	vertical-align: top;
	margin: 75px 75px 0;
	width: 310px;
}

.areas li figure {
	margin: 0;
}

.areas li h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	margin-top: 27px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #f14328;
}

.areas li p {
	font-size: 16px;
	text-align: center;
	color: white;
	font-weight: 300;
}

/*------------------------------------*\
	#Projects
\*------------------------------------*/

.projects {
	overflow: hidden;
	height: 603px;
	position: relative;
	background: #ddd;
}

.projects ul {
	padding: 0;
	margin: 0;
}

.projects li {
	display: block;
	font-size: 0;
	overflow: hidden;
}

.projects li figcaption {
	overflow: hidden;
	height: 150px;
	background: #f14328;
	font-size: 16px;
	box-sizing: border-box;
	padding: 20px 40px;
}

.projects li figcaption h3 {
	margin: 0;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.projects li figcaption p {
	margin: 7px 0;
	color: #fff;
}

.projects li figcaption a {
	margin-top: 7px;
	display: inline-block;
	padding: 7px 14px;
	text-decoration: none;
	background: rgba(255, 255, 255, .2);
	color: #fff;
	font-size: 14px;
}

.projects li img,
.projects li figcaption {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.projects li:hover img {
	transform: translateY(-150px);
}

.projects li:hover figcaption {
	transform: translateY(-150px);
}

.projects li:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
}

.projects li:nth-child(1) img {
	height: 603px;
}

.projects li:nth-child(2) {
	position: absolute;
	top: 0;
	left: 370px;
}

.projects li:nth-child(2) img {
	height: 279px;
}

.projects li:nth-child(3) {
	position: absolute;
	top: 0;
	left: 731px;
}

.projects li:nth-child(3) img {
	height: 279px;
}

.projects li:nth-child(4) {
	position: absolute;
	top: 279px;
	left: 370px;
}

.projects li:nth-child(4) img {
	height: 324px;
}

.projects li:nth-child(5) {
	position: absolute;
	top: 279px;
	left: 619px;
}

.projects li:nth-child(5) img {
	height: 324px;
}

/*------------------------------------*\
	#Testemonials
\*------------------------------------*/

.testimonials {
	height: 400px;
	overflow: hidden;
}

.testimonials .second-testimonial,
.testimonials .first-testimonial {
	width: 50%;
	float: left;
}

.testimonials .text {
	box-sizing: border-box;
	padding: 24px 18px;
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	color: white;
	background: #f14328;
	border-radius: 3px;
	margin: 0;
	height: 161px;
	position: relative;
}

.testimonials .author-block {
	margin-top: 20px;
}

.testimonials .ava {
	border-radius: 50%;
	overflow: hidden;
	width: 62px;
	height: 62px;
	border: 3px solid #f14328;
}

.testimonials .ava img {
	width: 63px;
}

.testimonials .author-text {
	float: left;
	font-weight: 300;
}

.testimonials .author-text .name {
	margin: 4px 0 0 0;
	font-size: 17px;
}

.testimonials .author-text .name-text {
	color: #ba473e;
}

.testimonials .author-text .company {
	margin: 7px 0 0 0;
	font-size: 13px;
}

.testimonials .author-text .place {
	margin: 3px 0 0 0;
	font-size: 14px;
}

/*------------------------------------*\
	#first testimonials
\*------------------------------------*/

.testimonials .first-testimonial {
	padding: 80px 85px 0 180px;
	box-sizing: border-box;
}

.testimonials .first-testimonial .text:after {
	content: "";
	background: url(../img/testimonial-arrow-left.png);
	width: 26px;
	height: 15px;
	position: absolute;
	bottom: -15px;
	left: 63px;
}

.testimonials .first-testimonial .ava {
	margin-left: -3px;
	float: left;
}

.testimonials .first-testimonial .author-text {
	float: left;
	padding-left: 10px;
}

/*------------------------------------*\
	#second testimonials
\*------------------------------------*/

.testimonials .second-testimonial {
	padding: 80px 178px 0 86px;
	box-sizing: border-box;
}

.testimonials .second-testimonial .text:after {
	content: "";
	background: url(../img/testimonial-arrow-right.png);
	width: 26px;
	height: 15px;
	position: absolute;
	bottom: -15px;
	right: 63px;
}

.testimonials .second-testimonial .author-block {
	float: right;
}

.testimonials .second-testimonial .ava {
	float: right;
}

.testimonials .second-testimonial .author-text {
	float: right;
	text-align: right;
	padding-right: 10px;
}

.testimonials .second-testimonial .ava {
	margin-right: -3px;
}

/*------------------------------------*\
	#Contacts
\*------------------------------------*/

.contacts {
	overflow: hidden;
	background: url(../img/contacts-background.jpg);
	background-size: cover;
	position: relative;
}

/*------------------------------------*\
	#user-form
\*------------------------------------*/

.contacts .user-form {
	/*background: rgba(0, 0, 0, .3);*/
	padding: 43px 69px;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	background: rgba(255, 255, 255, .20);
}

.contacts .form-wrapper {
	overflow: hidden;
	width: 816px;
	margin: 100px auto 146px;
	position: relative;
}

.contacts .form-wrapper .video-wrapper {
	left:calc(-50vw + 408px);
	width: 100vw;
	position: absolute;
	top: -100px;
	bottom: -146px;
	z-index: 1;
}
.contacts .form-wrapper .video-wrapper:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, .20);
	z-index: 2;
}

.contacts .form-wrapper video {
	-webkit-filter:blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter:blur(10px);
}

.contacts .user-form input,
.contacts .user-form textarea {
	background: rgba(255, 255, 255, .8);
}

.contacts .user-form input {
	border: none;
	height: 42px;
	margin: 0 12px 35px;
}

.contacts .first-name,
.contacts .last-name,
.contacts .email,
.contacts .phone,
.contacts .subject,
.contacts .message {
	box-sizing: border-box;
	padding: 12px 19px;
	font-size: 20px;
	color: #000;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #444;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #444;
	opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #444;
	opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { 
	color: #444;
}

.contacts .first-name,
.contacts .last-name,
.contacts .email,
.contacts .phone {
	width: 312px;
}

.contacts .subject {
	width: 652px;
}

.contacts .message {
	box-sizing: border-box;
	margin: 0 12px 25px;
	background: #444;
	width: 652px;
	border: none;
	height: 156px;
}

.contacts .user-form .submit {
	margin: 0 auto;
	display: block;
	width: 190px;
	height: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	background: #f14328;
}

.contacts video {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*------------------------------------*\
	#FOOTER
\*------------------------------------*/

.main-footer {
	overflow: hidden;
	height: 46px;
	position: relative;
	margin-top: -96px;
	/*background: #666;*/
	text-align: center;
}

.main-footer ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000;
	position: relative;
	z-index: 2;
	background: rgba(255, 255, 255, .9);
}

.main-footer li {
	display: inline-block;
	line-height: 46px;
	margin: 0 25px;
}

.main-footer li img {
	vertical-align: middle;
	margin-right: 10px;
}

.main-footer li span {
	vertical-align: middle;
	font-size: 14px;
}